@font-face {
  font-family: 'Dosis';
  src: url('../fonts/dosis/Dosis-Regular.ttf') format('truetype');
}

body {
  background-color: white;
  text-transform: lowercase;
  font-family: 'Dosis', sans-serif;
}

/* SLOGAN */
.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
}

.slogan h4 {
  letter-spacing: 0.09em;
}

/*NAV ICONES*/
.itens {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav.a {
  margin: 0.5em 0em 1em 1em;
}

nav.a ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav.a ul li {
  margin: 0.1em;
  margin-left: 1em;
  color: #010101;
  text-align: center;
}

nav.a ul li a {
  color: #010101;
  text-decoration: none;
}

nav.a ul li img {
  height: 4vh;
}

.container-cesta {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0% 0%;
  grid-auto-flow: row dense;
  grid-template-areas:
    "cesta-vai itens-vai"
    "complementar complementar";
}

.cesta-vem { grid-area: cesta-vem; 
}

.itens-vem { grid-area: itens-vem; }

.cesta-vai { grid-area: cesta-vai; }

.itens-vai { grid-area: itens-vai; }

.complementar { 
  grid-area: complementar; 
  display: flex;
  justify-content: center;}

.complementar .btn {
  width: 50%;
  height: 40%;
  background-color: #2B93AD;
}
img.cestas {
  width: 25em;
  border-radius: 1em;
}
button#buscar {
  background-color: #2B93AD;
}

.small_nav {
  background: #2B93AD;
}

.btn-light {
  border-radius: 1em;
  color: #2B93AD;

}

.itens {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

nav.a {
  font-size: 14px;
  color: black;
}

nav.a ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.a:hover {
  text-decoration: underline
}

/* PESQUISAR */
h2 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  font-weight: 800;
}

a.small-text {
  color: #808080;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font-size: 12px;
}

#buscar {
  border-radius: 1em;
}

button {
  border-radius: 1em;
  background: #2B93AD;
  border: 0;
  border-radius: 1em;
  font-weight: bold;
  font-size: 13px;
}

footer {
  background-color: #285680;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
}



/* animações para os elementos SVG */

svg #Chinelo, #marca_grafica, #de_cima, #cab_chinelo,
#vestido, #brincos {
  -webkit-animation: sock 0.70s ease-in-out alternate 20;
  animation: sock 0.70s ease-in-out alternate 20;
}

@keyframes spring {
  from {
    transform: scale(0.2, 0.50);
  }

  to {
    transform: scale(0.2, 0.50);
  }
}

@-webkit-keyframes sock {
  from {
    transform: rotate(4) translateY(15);
  }

  to {
    transform: rotate(0.2deg) translateY(-0);
  }
}

@keyframes sock {
  from {
    transform: rotate(4) translateY(15);
  }

  to {
    transform: rotate(0.2deg) translateY(0px);
  }
}

/* VARAL SGV COLOR */
.cls-1 {
  fill: #4d4d4d;
}

.cls-2 {
  fill: #61896c;
}

.cls-3 {
  fill: #f55267;
}

.cls-4 {
  fill: #f9a2ad;
}

.cls-5 {
  fill: #9ac5a6;
}

.cls-6 {
  fill: #cde2d3;
}

.cls-7 {
  fill: #202e24;
}

.cls-8 {
  fill: #010101;
}

.cls-9 {
  fill: #2d84cb;
}

.cls-10 {
  fill: #2b4469;
}

.cls-11 {
  fill: #abceea;
}

.cls-12 {
  fill: #174266;
}

.cls-13 {
  fill: #889cba;
}

.cls-14 {
  fill: #2e85cb;
}

.cls-15 {
  fill: #a1d2f6;
}

.cls-16 {
  fill: #cd4478;
}

.cls-17 {
  fill: #e05c8c;
}

.cls-18 {
  fill: #d76993;
}

.cls-19 {
  fill: #de598c;
}

.cls-20 {
  fill: #9a335a;
}

.cls-21 {
  fill: #ebb4c9;
}

.cls-22 {
  fill: #333;
}

.cls-23 {
  fill: #5e59cd;
}

.cls-24 {
  fill: #47439a;
}

.cls-25 {
  fill: #9eb4eb;
}

.cls-26 {
  fill: #839fca;
}