{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
  {% bootstrap_css %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title">Logout</h3>
            <hr>
            <p>Você fez logout com sucesso.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Fazer login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% bootstrap_javascript %}
</body>
</html>
