{% extends 'escambo/base2.html' %}
{% load bootstrap4 %}
{% load static %}

{%block titulo %}<title>cadastro usuario</title>{%endblock%}

{% block frase_destaque %}
<div class="slogan">
    <h4>Junte-se a nós e vamos escambar</h4>
</div>
{% endblock %}


{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title">cadastro escambador</h3>
                    <hr>
                    {% if form.errors %}
                    <p><strong>{{ form.errors }}</strong></p>
                    {% endif %}
                    <form action="{% url 'escambo:cadastro_usuario' %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                            {{ field }}
                        </div>
                        {% endfor %}                        
                        <a class="btn" href="{% url 'escambo:index' %}" style="border-radius: 1em; margin-left: 5px; background-color: burlywood;">Voltar</a>
                        <button type="submit" class="btn" id="buscar">cadastrar</button> 
                    </form>
                    <hr>
                    {% bootstrap_messages %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}