{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Usuário</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1 class="mt-6">Cadastro de Usuário</h1>
        {% if form.errors %}
        <p><strong> {{form.error}} </strong></p>
         {% endif %}
        <form action="{% url 'escambo:cadastro' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}<br/>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>        
        <a href="{% url 'escambo:index'%}">Voltar</a>
    </div>    
    {% bootstrap_javascript %}
</body>
</html>
