{% extends 'escambo/base.html' %}
{% load static %}

{%block titulo %}<title>Detalhe Produto</title>{%endblock%}
{%block css_adicional %}
    <link rel="stylesheet" href="{% static 'escambo/css/estiloDetalhe.css' %}">
{%endblock%}
{% block conteudo %}
<div class="container">
    <hr>
    <div class="detalhes">
        <div class="area-foto">
            <div class="carousel">
                <img id="slide" src="{{ produto.foto_set.first.imagem.url }}" alt="Imagem" style="border-radius: 1em;">
            </div>
        </div>
        <div class="area-dados1">
            <div>
                <h4 class="titulo_produto">{{produto.nome}}</h4>
            </div>            
            <div>
                <h6 class="descricao_afetiva">{{produto.descricao_afetiva}}</h6>
            </div>
            <div>
                <h6>categoria {{produto.categoria}} </h6>
                <h6>estado do produto: {{produto.estado_produto}}</h6>
            </div>
            <hr>
        </div>
        <div class="area-dados2">
            <a href="#">
                <div class="escambador_produto">
                    <img src="{% static 'escambo/img/icons/conta.png' %}">
                    <h5>bruno almeida</h5>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
                <small>4.5 estrelas</small>
            </a>
            <div>

                <a href="escambo_selecao.html">
                    <button type="button" class="btn" style="margin-top: 2em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-repeat" viewBox="0 0 16 16" style="padding-right: 5;">
                            <path
                                d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                        </svg>
                        <h6> escambar esse produto </h6>
                    </button>
                </a>

                <button type="button" class="btn" style="margin-top: 2em;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-chat-left-text-fill" viewBox="0 0 16 16" style="padding-right: 5;">
                        <path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                    </svg>
                    <h6> falar com o proprietario </h6>
                </button>
            </div>
        </div>
    </div>
</div>
<hr>
    
<script>
    const images = [];

    //percorrer as fotos do produto e gerar as URLs
    {% for foto in produto.foto_set.all %}
        images.push("{{ foto.imagem.url }}");
    {% endfor %}

    const slide = document.getElementById("slide");
    let currentIndex = 0;

    function changeSlide() {
        slide.src = images[currentIndex];
        currentIndex = (currentIndex + 1) % images.length;
    }

    setInterval(changeSlide, 3000); //tempo (em milissegundos) entre as trocas de slides conforme necessário
</script>
{%endblock%}