{% extends 'escambo/base.html' %}
{% load static %}

{%block titulo %}<title>Plataforma Escambo</title>{%endblock%}

{%block saudacoes %}
{% if user.is_authenticated %}
<div class="container" style="text-align: center;">
    <small>olá, {{ user.username }}</small>
</div>
{% endif %}
{%endblock%}

{% block conteudo %}


<!--RECÉM CHEGADOS-->
<div class="container">
    <hr>
    <h1>recém chegados</h1>
    {% if produtos %}
    <div>
        <div class="container-postagem">
            {% for produto in produtos %}
            {% if forloop.counter <= 9 %} <div class="foto">
                <a href="{% url 'escambo:detalhe_produto' produto.id %}">
                    {% if produto.foto_set.all %}
                        <img class="postagem" src="{{ produto.foto_set.first.imagem.url }}">
                    {% else %}
                        <img class="postagem" src="{% static 'escambo/img/produto/produto_padrao_foto.png' %}">
                    {% endif %}
                    <h4 style="margin-top: 7%;">{{ produto.nome }}</h4>
                    <small>por {{ produto.usuario_proprietario.user.username }}</small>
                    <p class="group inner list-group-item-text" style="width: 30vh; text-align: justify;">
                        {{produto.descricao_afetiva|truncatechars:150 }}</p>
                </a>
        </div>   
            {% endif %}
            {% endfor %}
    </div>
    {% else %}
    <p>Nenhum produto disponível para esta categoria.</p>
    {% endif %}
<hr>
</div>
{% endblock %}