{% extends 'escambo/base2.html' %}
{% load bootstrap4 %}
{% load static %}

{%block titulo %}<title>login</title>{%endblock%}

{% block frase_destaque %}
<div class="slogan">
  <h4>entre na sua conta e aproveite a plataforma ao máximo</h4>
</div>
{% endblock %}
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title">login</h3>
          <hr>
          <form action="{% url 'escambo:login' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <a class="btn" href="{% url 'escambo:index' %}" style="border-radius: 1em; margin-left: 5px; background-color: burlywood;">Voltar</a>
            <button type="submit" class="btn" id="buscar">entrar</button> 
            {% endbuttons %}
          </form>
          <hr>
          {% bootstrap_messages %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}