{% extends 'escambo/base.html' %}
{% load static %}

{%block titulo %}<title>categoria</title>{%endblock%}

{% block conteudo %}

<!-- RECÉM CHEGADOS -->
<div class="container">
  <hr>
  <h1>Produtos {{ categoria.nome }}</h1>
  <h5>30 produtos de {{ produtos|length }}</h5>
  {% if produtos %}
  <div class="container-postagem" style="position: relative;">
    {% for produto in produtos %}
    {% if forloop.counter <= 30 %} 
    <div class="foto-container" style="position: relative; flex: 0 0 33.33%; margin-bottom: 20px;">
      <div class="foto" style="display: block; max-width: 100%;">
        <a href="{% url 'escambo:detalhe_produto' produto.id %}">
          {% if produto.destaque == True%}
            <button type="button" class="btn btn-warning" style="position: absolute; top: 13%; left: 13%; width: 2.5em; transform: translate(-50%, -50%); z-index: 2;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
              </svg>
            </button>   
          {% endif %}
          {% if produto.foto_set.all %}
              <img class="postagem" src="{{ produto.foto_set.first.imagem.url }}">
          {% else %}
              <img class="postagem" src="{% static 'escambo/img/produto/produto_padrao_foto.png' %}">
          {% endif %}
          <h4 style="margin-top: 7%;">{{ produto.nome }}</h4>
          <small>por {{ produto.usuario_proprietario.user.username }}</small>
          <p class="group inner list-group-item-text" style="width: 30vh; text-align: justify;">{{ produto.descricao_afetiva|truncatechars:150 }}</p>
        </a>
      </div>
    </div>
  
  {% endif %}
  {% endfor %}
</div>
{% else %}
<p>Nenhum produto disponível para esta categoria.</p>
{% endif %}
<div class="d-flex" style="justify-content: center;">
  <a class="btn" href="{% url 'escambo:index' %}"
    style="border-radius: 1em; margin-right: 5px; background-color: burlywood;">Voltar</a>
  <button type="submit" class="btn" id="buscar">próxima pagina</button>
</div>
<hr>
{% endblock %}
</div>